@model Administrators_Service_Station.Models.Car
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administration panel</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="~/Content/theme.css" rel="stylesheet" media="screen" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default"><p style="text-align: center;  color: white;font-size: 30px; font-family: 'Arial', courier, serif; font-weight: 800; margin-top: 10px">Administration panel</p></nav>
    <div style="margin-left: 300px" class="col-lg-6">
        <form class="form-horizontal" method="post" action="">
            <input type="hidden" value="@ViewBag.ClientId" name="ClientId" />
            <input type="hidden" value="@ViewBag.Car.CarId" name="CarId" />
            <fieldset>
                <div class="form-group">
                    <label for="inputMake" class="col-lg-2 control-label">Make</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputMake" value="@ViewBag.Car.Make" name="Make">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputModel" class="col-lg-2 control-label">Model</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputModel" value="@ViewBag.Car.Model" name="Model">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputYear" class="col-lg-2 control-label">Year</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputYear" value="@ViewBag.Car.Year" name="Year">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputVIN" class="col-lg-2 control-label">VIN</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputVIN" value="@ViewBag.Car.VIN" name="VIN">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <input class="btn btn-success" type="submit" value="Submit" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div style="margin: 50px" class="next">
        <a href="/Home/Cars/@ViewBag.ClientId">&larr; Back to cars</a>
    </div>

</body>
</html>
